extends layout
block content
	div.panel.panel-danger
		div.panel-heading
			h4 Tambah Buku
		div.panel-body
			form(action="" method="post")
				div.form-group
					label.label-control Nama
					input(type="text" name="nama" value=data&&data.nama).form-control
				div.form-group
					label.label-control Alamat
					input(type="text" name="alamat" value=data&&data.alamat).form-control
				div.form-group
					label.label-control Jenis Kelamin
					select.form-control(name="jk")
						- var jenis_kelamin =[{name:"Laki-Laki", value:"Laki-Laki"},{name:"Perempuan", value:"Perempuan"} ]
						option(value="") Jenis Kelamin
						each j in jenis_kelamin
							if data
								- var selected = data.jenis_kelamin == j.value ? true : false
								option(value=j.value selected=selected)= j.name
							else
								option(value=j.value)= j.name
				div.form-group
					label.label-control Lahir
					input(type="date" name="lhr" value=data&&data.created_at).form-control
					br
					div.panel.footer
						button(type="submit").btn.btn-warning Save
						a.btn.btn-default(href="javascript:history.go(-1)").pull-right Back